*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* Google Fornts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=News+Cycle&family=Oswald:wght@700&family=Passion+One&family=Poppins:wght@700&family=Space+Mono&family=Suez+One&display=swap');


body h1,h2,h3{
    font-family: 'Passion One', cursive;
}
/* navbar */
#logo{
    font-size: 50;
}
.fa-brands{
   color:white;
}
